
<div class="contact">
    <div>
        <span class="name">{{ contact.name }}: </span> 
        <a href="tel:{{contact.phone}}" class="phone">{{ contact.phone }}</a>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" (click)="editContact()">Edit</button>
        <button type="button" class="btn btn-secondary ml-1" (click)="showContact()">Open</button>
        <button type="button" class="btn btn-secondary ml-1" (click)="removeContact()">x</button>
    </div>
    
</div>
