<button class="add-contact btn btn-primary"  *ngIf="!isShowForm" (click)="showForm()">Add new contact</button>

<form *ngIf="isShowForm" [formGroup]="addContactForm">
    <div class="form-content">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" 
                id="name"
                class="form-control"
                placeholder="Name"
                formControlName="name"
                required
            >
        </div>
        <div class="form-group">
            <label for="phone">Phone: </label>
            <input type="text"
                id="phone"
                class="form-control"
                placeholder="Phone"
                formControlName="phone"
                required
            >
        </div>
    </div>
    <div class="form-footer">
        <button type="button" 
            class="btn btn-secondary"
            (click)="onCancel()"
        >
        Cancel</button>
        <button type="submit" 
            class="btn btn-primary ml-1"
            [disabled]="!addContactForm.valid"
            (click)="onSubmit()"
        >
        Create Contact</button>
    </div>
    
</form>