:host {
    .contact{
        width: 500px;
        margin: 25px auto;
        padding: 30px 20px;
        border: 1px solid #333;
        border-radius: 5px;
            p{
                padding: 10px 0;
            }
            span {
                font-weight: 700;
            }
    }

}