.container-contacts {
    width: 500px;
    text-align: center;
    margin: 15px auto;
    .search-bar {
        margin-bottom: 20px;
    }
}
.message {
    margin-top: 20px;
    color: rgb(136, 118, 118);
}