<div class="container container-contacts">
    <div class="search-bar">
        <input type="text" class="input form-control" (keyup)="filter($event)" placeholder="Search by name or phone">
    </div>
    <app-add-contact-form (added)="added($event)"></app-add-contact-form>
    <span *ngIf="!isAdding">
        <app-contact *ngFor="let contact of contacts" [contact]="contact" (remove)="updateContacts()"></app-contact>
    </span>
    <p *ngIf="contacts.length === 0" class="message">{{ emptyMessage() }}</p>
</div>
